<ion-view >
    <ion-content>
    	<div class="box_view">
			<h1 align="center">My Dentists</h1>
			<br/>						
			<div align="center">
				<img src="img/mydentists.png" width="100%" height="250"/>
			</div>
			<br/><br/><br/><br/>
			<div align="center">
				<button class="button button-large button_find button_custom" ng-click="finddentist()">
				 &nbsp;&nbsp;Find a dentist &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ion-location button_overlay_location"></span>
				</button>

			</div>
		</div>
    </ion-content>
</ion-view>
