<ion-view class="box_dashboard" >
    <ion-content>
        
        <div class="container_avatar_main">
			<div class="box_avatar_skin box_avatar_parts"></div>
			<div class="box_avatar_armor box_avatar_parts"></div>
			<div class="box_avatar_hair box_avatar_parts"></div>
			<div class="box_avatar_headgear box_avatar_parts"></div>
			<div class="box_avatar_weapon box_avatar_parts"></div>
        </div>

		<div class="row">
			<div class="col col-35">
				<img src="http://placehold.it/80x80">
			</div>

			<div class="col col-35 col-offset-30" align="right">
				<img src="http://placehold.it/80x80">
			</div>
		</div>

		<div class="row">
			<div class="col col-45" align="right">
				<img src="http://placehold.it/80x80">
			</div>

			<div class="col col-45 col-offset-10" align="left">
				<img src="http://placehold.it/80x80">
			</div>

		</div>



    </ion-content>
</ion-view>
