<ion-view >
    <ion-content>
    	<div class="box_view">
			<h1 align="center">Smile!</h1>

			<br/>
			<div class="row">
				<div class="col col-10" align="center"></div>
				<div class="col col-80" align="center">
					<h2>Would you like to take a selfie and add it to your Smile Diary</h2>
				</div>
				<div class="col col-10" align="center"></div>
			</div>
			<br/>

			<div align="center">
				<button class="button button-large button-balanced button_custom button_text_left">
				 Yes! <span class="ion-camera button_overlay"></span>
				</button>

				<button class="button button-large  button_custom button_later button-stable button_text_left " ng-click="dashboard()">
				  Maybe Later</span>
				</button>
			</div>

		</div>
    </ion-content>
</ion-view>
