<ion-view >
    <ion-content>
    	<div class="box_view">
			<h1 align="center">Floss!</h1>

			<div class="row">
				<div class="col col-100">
					<ol class="list_count">
						<li>Pull 18 to 24 inches of dental floss from the floss dispeser.</li>
						<li>Wrap the ends of the floss around your index finger and middle fingers</li>
						<li>Hold the floss tightly around each tooth in a C shape</li>
						<li><img src="img/listerine-sml.png"align="right"/>Move the floss back and forth in a push-pull motion and up and down against the side of each tooth.</li>
					</ol>

					<div align="center">
						<button class="button button-large button_next button_custom ">
						  Next <span class="ion-ios-arrow-thin-right"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
